{{#each this}}
    <li class="list-item">
        <div class="img-container">
            <img src="{{media}}" alt="background">
        </div>
        <hr style="width: 100%; height:1px;">
        <h3>{{title}}</h3>
        <hr style="width: 100%; height:1px;">
        <p>{{summary}}</p>
        <b><i>{{author}}</i></b>
    </li>
{{/each}}