.list-items{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: flex-start;

    & .list-item{
        max-width: 400px;
        width: 100%;
        height: 100%;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        border: 1px solid tomato;
        
    }
}

.card {
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
}



*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }